.layout {
    background-color: #ffffff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    bottom: 0;
    padding: 10px 0;

    position: absolute;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;

    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    cursor: pointer;
    padding: 10px 0;
    transition: color 0.3s;
}

.menu:hover {
    color: var(--mainColor);
}

.menu svg {
    margin-bottom: 5px;
}
