.layout {
    height: 100%;
    max-width: 480px;
    margin: 0 auto;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.layout::-webkit-scrollbar {
    display: none;
}

.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}
