.layout {
    display: flex;
    flex-direction: column;
    height: 100px;
    cursor: pointer;
}

.top {
    display: flex;
    justify-content: right;
    height: 45px;
}

.bottom {
    height: 55px;
}

.theme {
    display: flex;
    gap: 20px;

    align-items: center;
    padding: 10px;
}

.calendar {
    padding: 10px;
}

.dateLabel {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px;
}
