.layout {
    height: 100px;
}

.top {
    height: 45px;
    /* border: 1px solid lightgrey; */
}

.theme {
    display: flex;
    gap: 15px;
    justify-content: right;
}

.bottom {
    height: 55px;
}
