.layout {
    background-color: var(--yellow100);
    height: 100%;
    max-width: 480px;
    margin: 0 auto;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.layout::-webkit-scrollbar {
    display: none;
}

.main {
    flex: 1;
}
