.badge {
    display: inline-flex;
    padding: 4px 8px;
    align-items: center;
    justify-content: center;
    line-height: 1.333;
    border-radius: 10px;
    font-weight: bold;
    color: var(--grey700);
    background-color: var(--greyOpacity200);
    cursor: pointer;
}
