.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end; /* 아래에서 위로 모달이 올라오도록 설정 */
    z-index: 1000;
}

.modalContent {
    background-color: white;
    width: 100%;
    max-width: 480px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.3s ease-out;
}

@keyframes slideUp {
    from {
        transform: translateY(100%); /* 아래에서 시작 */
    }
    to {
        transform: translateY(0); /* 원래 위치로 이동 */
    }
}
