.graphLayout {
    position: fixed;
    bottom: 40px;
    background-color: #f3f3f3;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 1000;
}

.visible {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    border-radius: 0px;
}

.invisible {
    left: auto;
    right: 20px;
    transform: none;
    border-radius: 50%;
}

.tool {
    display: flex;
}

.editor {
    display: flex;
    flex-direction: row;
}

.editorLayout {
    position: fixed;
    bottom: 120px;
    background-color: var(--mainColorLg);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 1000;
}
