.progressBarContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progressBar {
    width: 100%;
    background-color: #eeeeee;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progressFill {
    /* height: 30px; */
    border-radius: 25px 0 0 25px;
    transition: transform 0.4s ease-in-out;
    border-radius: 25px;
}

.xsm {
    height: 15px;
}

.sm {
    height: 20px;
}

.md {
    height: 30px;
}

.lg {
    height: 35px;
}
