.layout {
    padding: 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--mainColor);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.record {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.recordItem {
    display: flex;
    align-items: center;
    gap: 7px;
}

.mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-top: 1px solid var(--mainColorDk);
    padding-top: 20px;

    cursor: pointer;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.infoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColorLg);
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.infoItem:hover {
    background-color: var(--mainColorMd);
}
