.layout {
    padding: 13px;
    border-radius: 10px;
    cursor: pointer;
}

.badges {
    display: flex;
    gap: 15px;
    padding: 5px;
    cursor: pointer;
}

.monthController {
    display: flex;
    gap: 4px;
    padding: 5px;
}

.table {
    width: 100%;
    margin-top: 30px;
}

.table th {
    padding: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: var(--grey700);
}

.date {
    height: 55px;
    width: 45px;
    text-align: center;
    padding: 4px;
}

.dateCell {
    background-color: whitesmoke;
    color: #333;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.dateCell:hover {
    transform: scale(1.1);
}

.notCurrent {
    display: none;
}

.bubble {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--mainHover);
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.todayTextWrapper {
    text-align: center;
    margin-top: 3px;
}

.over {
    background-color: var(--red200);
    color: white;
}

.low {
    background-color: var(--blue200);
    color: white;
}

.nonData {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 10px;
}

.summary {
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.summaryInfo {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}
