.layout {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.metItem {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.metItem:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.exerciseName {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
