.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
}

.nextBtn {
    margin-top: auto;
}
