.layout {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.goalItem {
    background-color: whitesmoke;

    padding: 15px;
    width: calc(33.33% - 20px);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border-top: 1px solid var(--grey200);
}
