.layout {
    margin: 20px auto;
    text-align: center;

    padding: 10px;
}

.progressBar {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 20px;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
}

.progress {
    background-color: #4caf50; /* 초록색 */
    height: 100%;
    transition: width 0.3s ease; /* 애니메이션 효과 */
}

.progressText {
    font-size: 16px;
    font-weight: bold;
    color: #333; /* 글자 색 */
}
