.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;

    background-color: var(--mainColor);
}

.header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    gap: 15px;
}

.title {
    display: flex;
    gap: 3px;
    padding: 5px;
}
