.layout {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--red100);
}

.mealCard {
    display: flex;
    align-items: center;
    background-color: var(--grey50);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
    max-width: 100%;
}

.mealCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.mealImage {
    border-radius: 8px;
    margin-right: 10px;
    object-fit: cover;
    flex-shrink: 0;

    background-color: #ffeef8;
    border-radius: 50px;
}

.mealInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    min-width: 0;
}

.badgeContainer {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.badgeContainer::-webkit-scrollbar {
    display: none;
}

.badge {
    display: flex;
    gap: 6px;
    margin: 5px 0;
    font-size: 14px;
}

.mealContent {
    color: var(--grey700);
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 15px;
    flex-shrink: 1;
    line-height: 1.2;
}

.empty {
    background-color: white;
    border-radius: 15px;
}
