.layout {
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--mainColor);
    border-radius: 10px;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.progress span {
    text-align: center;
    padding: 10px;
}
