.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    position: relative;

    height: 100vh;
    box-sizing: border-box;
}

.header {
    margin-bottom: 20px;
}

.genderSelect {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.gender {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    cursor: pointer;
}

.gender:hover {
    opacity: 0.8;
}

.activity {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 10px;
    gap: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.activity::-webkit-scrollbar {
    display: none;
}

.emoji {
    width: 120px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px;
    background-color: var(--lightGrey);
    border-radius: 12px;
    border: 1px solid var(--grey300);
    text-align: center;

    gap: 7px;
    cursor: pointer;
}

.emoji:hover {
    opacity: 0.8;
}

.selectedActivity {
    background-color: var(--blue50);
    border: none;
}

.content {
    white-space: normal;
    text-align: center;
    word-break: keep-all;
    line-height: 1.5;
}

.nextBtn {
    margin-top: auto;
}

/* .layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.genderSelect {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.gender {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    cursor: pointer;
}

.gender:hover {
    opacity: 0.8;
}

.activity {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 10px;
    gap: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.activity::-webkit-scrollbar {
    display: none;
}

.emoji {
    width: 120px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px;
    background-color: var(--lightGrey);
    border-radius: 12px;
    border: 1px solid var(--grey300);
    text-align: center;

    gap: 7px;
    cursor: pointer;
}

.emoji:hover {
    opacity: 0.8;
}

.selectedActivity {
    background-color: var(--blue50);
    border: none;
}

.content {
    white-space: normal;
    text-align: center;
    word-break: keep-all;
    line-height: 1.5;
} */
