.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background: linear-gradient(135deg, #a2c2e6, #6e8cc0); /* 그라디언트 배경 */
    overflow-y: hidden;
}

.imageWrapper {
    margin-bottom: 20px;
    animation: scaleIn 4s ease-in-out infinite; /* 애니메이션을 무한히 반복, 지속 시간 증가 */
}

.textWrapper {
    animation: fadeInUp 4s ease-out infinite; /* 애니메이션을 무한히 반복, 지속 시간 증가 */
}

.title {
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1.1); /* 중간에 조금 더 크게 */
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px); /* 중간에 조금 더 위로 */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
