.layout {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}

.exerciseGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.addBtn {
    margin-top: 20px;
    padding: 3px;
}

.badgeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
}
