.layout {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
}

.timeTable {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    padding: 15px;
}

.timeInput {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    width: 60px;
    padding: 10px;
    border: none;
    outline: none;

    color: var(--grey700);
}
