.layout {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    cursor: pointer;
}

.foodNameInput {
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
}

.nutrientGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.inputWithUnit {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 8px;
}

.inputWithUnit input {
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

.addBtn {
    margin-top: 20px;
    padding: 3px;
}

.badgeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
}
