.header {
    margin-bottom: 20px;
    padding: 5px;
}

.nutrient {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.nutrientFigure {
    display: flex;
    padding: 10px;

    width: 80%;
    justify-content: space-between;
}

.nutrientFigure:hover {
    opacity: 0.7;
}

.submitBtn {
    display: flex;
    padding: 5px;
    margin-top: 20px;
    gap: 15px;
}
