.inputWithUnit {
    display: flex;
    align-items: center;
    margin-top: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 7px;

    border: 1px solid black;
}

.inputWithUnit input {
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}
